#home{
    display: flex;
    min-height: calc(100vh - 98px);
    position: relative;
    background-image: url(pexels-chan-walrus-958545.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-size: cover;
}
#cta{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 28px;
    margin-top: 10px;
}
#cta .title{
    font-size: 4rem;
    color: #ffffff;
}
#cta .title span{
    color: red;
}
#cta .description{
    font-size: 1.2rem;
    color: #fff;
}
#cta_buttons{
    display: flex;
    gap: 24px;
}
#cta_buttons a{
    text-decoration:none ;
    color: #303030;
}
#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #FFF;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius:12px ;
}



@media screen and (max-width:900px){

    #home{
        min-height: 100%;
        padding-top: 0;
    }

    #banner, #banner img, #home .shape{
        display: none;
    }
    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width:500px){
    #phone_button button{
        display: none;
    }
}